:root {
  --bg-primary: #dadbd5;
  --bg-secondary: #009788;
  --grey-700: #6c7379;
  --grey-600: #b1b1b1;
  --grey-500: #eaeaea;
  --grey-400: #f1ece8;
  --grey-300: #fafafa;
  --link: #528ba9;
  --blue-primary: #8edafc;
}
