@import url(reset.css);
@import url(utility.css);
@import url(typho.css);

/* !palette */
:root {
  --bg-primary: #dadbd5;
  --bg-secondary: #009788;
  --grey-700: #6c7379;
  --grey-600: #b1b1b1;
  --grey-500: #eaeaea;
  --grey-400: #f1ece8;
  --grey-300: #fafafa;
  --link: #528ba9;
  --blue-primary: #8edafc;
}

/* !common */

body {
  height: 100vh;
  background: linear-gradient(
    to top,
    #dadbd5 0%,
    #dadbd5 85%,
    #009788 85%,
    #009788 100%
  );
}
.container {
  width: 80vw;
}
.img-container {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.icons {
  color: var(--grey-600);
  display: flex;
  gap: 15px;
}

/* !colonna di sinistra */
.left-column {
  background-color: var(--grey-300);
  width: 35%;
}
/* *header */
.header-left {
  background-color: var(--grey-500);
  padding: 15px;
}
/* *main */
.notifications {
  background-color: var(--blue-primary);
  padding: 20px;
}
.icon-container {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue-primary);
}

/* !colonna di destra */
.right-column {
  background-color: var(--grey-300);
  width: 65%;
}
