@import url(reset.css);
@import url(utility.css);
@import url(typho.css);

/* !palette */
:root {
  --bg-primary: #dadbd5;
  --bg-secondary: #009788;
  --grey-700: #6c7379;
  --grey-600: #b1b1b1;
  --grey-500: #eaeaea;
  --grey-400: #f1ece8;
  --grey-300: #fafafa;
  --sand: #f5eee8;
  --link: #528ba9;
  --blue-primary: #8edafc;
  --main-green: #d5f9ba;
}

/* !common */

body {
  height: 100vh;
  background: linear-gradient(
    to top,

    #dadbd5 85%,
    #009788 15%
  );
}
.container {
  width: 80vw;
  height: 90vh;
}
.header-left,
.header-right {
  background-color: var(--grey-500);
  height: 80px;
}
.img-container {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.icons {
  color: var(--grey-600);
  display: flex;
  gap: 15px;
}
.main-user {
  width: 100%;
}
.time {
  margin-left: auto;
}
.last-message,
.time {
  color: var(--grey-600);
}

/* !colonna di sinistra */
.left-column {
  background-color: var(--grey-300);
  width: 35%;
}
/* *main */
.main-left {
  height: calc(100% - 80px);
}
/* notifiche */
.notifications {
  background-color: var(--blue-primary);
}
.icon-container {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue-primary);
}
/* barra di ricerca */
.left-search i {
  color: var(--grey-600);
  background-color: #ffffff;
  width: 20%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 0.5px solid var(--grey-400);
  border-right: none;
}
.left-search input {
  width: 80%;
  padding: 10px 0;
  border-left: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 0.5px solid var(--grey-400);
  border-left: none;
}
/* lista contatti */
.contacts {
  background-color: #ffffff;
  flex-grow: 1;
  overflow-y: scroll;
}
.contacts ul {
  border-right: 2px solid var(--grey-400);
}
.contacts li {
  border-bottom: 1px solid var(--grey-500);
  cursor: pointer;
}
.contacts li:hover {
  background-color: var(--grey-500);
}

/* !colonna di destra */
.right-column {
  background-color: var(--grey-300);
  width: 65%;
  border-left: 1px solid var(--grey-600);
}
/* ?chat*/
/* chat contatti */
.if-chat {
  height: calc(100% - 80px);
}
.contact-chat {
  height: 100%;
}
/* area di visualizzazione messaggi */
.chat {
  background-image: url(../img/mine.jpg);
  flex-grow: 1;
  overflow-y: scroll;
  padding: 70px 100px;
}
.message {
  width: 100%;
  margin-bottom: 5px;
}
.text {
  width: 40%;
  height: auto;
  border-radius: 10px;
  padding: 20px;
  overflow-wrap: break-word;
  position: relative;
}
.text .time {
  position: absolute;
  right: 3.5%;
  bottom: 5%;
}
.text .fa-chevron-down {
  display: none;
  color: var(--grey-700);
  font-size: 15px;
}
.text:hover .fa-chevron-down {
  display: inline-block;
}
.text .message-option {
  background-color: white;
  color: var(--grey-700);
  padding: 20px;
  position: absolute;
  top: 90%;
  right: 5%;
  z-index: 99;
  box-shadow: -10px 10px 10px -7px #000000;
  display: none;
  cursor: pointer;
}
.message-option .message-info {
  margin-bottom: 10px;
}
.text:hover .message-option {
  display: inline-block;
}
/* barra compilazione messaggio */
.right-search {
  background-color: var(--sand);
  height: 80px;
}
.right-search input {
  flex-grow: 1;
  padding: 20px;
  border-radius: 10px;
}
.right-search i {
  color: var(--grey-700);
  width: 10%;
  text-align: center;
}
/* schermata di benevenuto */
.else-chat {
  background-color: var(--grey-500);
  height: 100%;
  color: var(--grey-600);
  text-align: center;
  gap: 5px;
}

/* !splash */
.splash {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-primary);
  color: var(--bg-secondary);
  animation: fadeout 6s;
  font-size: 30px;
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
.hidden {
  display: none;
  opacity: 0;
}
