body {
  font-family: "Lato", sans-serif;
}

.notifications-alert > div {
  font-weight: bold;
}
i {
  font-size: 1.4375rem;
}
.left-search i {
  font-size: 1rem;
}
.time,
.last-message {
  font-size: 12px;
}
